In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_train = pd.read_csv(r"C:\Users\Akshay Ghadge\OneDrive\Pictures\Documents\Desktop\sem 6\MLE Lab\Datasets\train.csv")
loan_test = pd.read_csv(r"C:\Users\Akshay Ghadge\OneDrive\Pictures\Documents\Desktop\sem 6\MLE Lab\Datasets\test.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Akshay Ghadge\\OneDrive\\Pictures\\Documents\\Desktop\\sem 6\\MLE Lab\\Datasets\\train.csv'

In [3]:
loan_train.shape

NameError: name 'loan_train' is not defined

In [ ]:
loan_test.shape

(367, 12)

In [ ]:
loan_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
loan_train.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
loan_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [ ]:
loan_test.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [ ]:
loan_train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
loan_train1 = loan_train.dropna()

In [ ]:
loan_train1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
loan_test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
loan_test1 = loan_test.dropna()

In [ ]:
loan_test1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [ ]:
loan_train1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [ ]:
loan_test1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 289 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            289 non-null    int32
 1   Gender             289 non-null    int32
 2   Married            289 non-null    int32
 3   Dependents         289 non-null    int32
 4   Education          289 non-null    int32
 5   Self_Employed      289 non-null    int32
 6   ApplicantIncome    289 non-null    int64
 7   CoapplicantIncome  289 non-null    int64
 8   LoanAmount         289 non-null    int64
 9   Loan_Amount_Term   289 non-null    float64
 10  Credit_History     289 non-null    float64
 11  Property_Area      289 non-null    int32
dtypes: float64(2), int32(7), int64(3)
memory usage: 21.4 KB

In [ ]:
loan_train1.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,480.000000,480.000000,480.000000,480.000000,480.000000
mean,5364.231250,1581.093583,144.735417,342.050000,0.854167
std,5668.251251,2617.692267,80.508164,65.212401,0.353307
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3859.000000,1084.500000,128.000000,360.000000,1.000000
75%,5852.500000,2253.250000,170.000000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000

In [ ]:
loan_test1.describe()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000
mean,144.000000,0.795848,0.647059,0.802768,0.224913,0.110727,127.301038,42.612457,63.373702,342.671280,0.840830,1.083045
std,83.571327,0.403780,0.478714,1.063533,0.418250,0.314338,71.560940,50.168072,32.198260,65.655503,0.366469,0.833348
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000
25%,72.000000,1.000000,0.000000,0.000000,0.000000,0.000000,66.000000,0.000000,40.000000,360.000000,1.000000,0.000000
50%,144.000000,1.000000,1.000000,0.000000,0.000000,0.000000,129.000000,16.000000,61.000000,360.000000,1.000000,1.000000
75%,216.000000,1.000000,1.000000,2.000000,0.000000,0.000000,187.000000,84.000000,87.000000,360.000000,1.000000,2.000000
max,288.000000,1.000000,1.000000,3.000000,1.000000,1.000000,250.000000,153.000000,131.000000,480.000000,1.000000,2.000000

In [ ]:
loan_train1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
loan_test1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [ ]:
loan_train2=loan_train.drop('Loan_Status',axis=1)

In [ ]:
str_col=['Loan_ID','Gender', 'Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Property_Area', 'Loan_Amount_Term', 'Credit_History']
str_col1=['Loan_ID', 'Gender','Married', 'Dependents', 'Education','Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Property_Area', 'Loan_Amount_Term', 'Credit_History']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
labelencoder = LabelEncoder()

In [ ]:
for i in str_col:
    loan_train2[i]=labelencoder.fit_transform(loan_train2[i])

In [ ]:
loan_train2.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,0,0,0,376,0,203,8,1,2
1,1,1,1,1,0,0,306,60,81,8,1,0
2,2,1,1,0,0,1,139,0,26,8,1,2
3,3,1,1,0,1,0,90,160,73,8,1,2
4,4,1,0,0,0,0,381,0,94,8,1,2
5,5,1,1,2,0,1,353,241,168,8,1,2
6,6,1,1,0,1,0,65,61,48,8,1,2
7,7,1,1,3,0,0,146,174,110,8,0,1
8,8,1,1,2,0,0,269,63,119,8,1,2
9,9,1,1,1,0,0,470,282,185,8,1,1
10,10,1,1,2,0,0,171,11,28,8,1,2
11,11,1,1,2,0,2,84,99,62,8,1,2
12,12,1,1,2,0,0,150,279,139,8,1,2
13,13,1,0,0,0,0,24,189,67,8,1,0
14,14,1,1,2,0,0,7,29,1,4,1,2
15,15,1,0,0,0,0,337,0,78,8,1,2
16,16,1,0,1,1,0,218,0,53,6,2,2
17,17,0,0,0,0,0,208,0,34,8,0,2
18,18,1,1,0,1,0,331,0,86,8,1,0
19,19,1,1,0,0,2,91,223,68,10,1,2

In [ ]:
for i in str_col:
    loan_test1[i]=labelencoder.fit_transform(loan_test1[i])

C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])
C:\Users\Akshay Ghadge\AppData\Local\Temp\ipykernel_24020\1715240301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_test1[i]=labelencoder.fit_transform(loan_test1[i])

In [ ]:
loan_test1.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,1,0,0,0,206,0,46,9,1,2
1,1,1,1,1,0,0,82,36,61,9,1,2
2,2,1,1,2,0,0,187,56,110,9,1,2
4,3,1,0,0,1,0,95,0,22,9,1,2
5,4,1,1,0,1,1,21,118,84,9,1,2
6,5,0,0,1,1,0,23,0,9,9,1,1
7,6,1,1,2,1,0,134,0,79,9,0,0
9,7,1,0,0,1,0,36,84,58,9,1,1
10,8,1,0,0,1,0,85,0,31,9,1,2
14,9,0,0,0,0,0,173,0,59,9,1,1
15,10,1,0,1,0,0,204,0,64,9,1,2
16,11,1,1,2,0,0,170,107,109,9,1,2
17,12,1,1,3,0,0,126,5,61,9,1,1
18,13,1,1,0,0,0,239,148,126,9,1,2
19,14,1,0,0,0,0,4,120,38,5,1,1
20,15,1,1,1,1,0,12,46,5,9,1,2
21,16,0,0,3,1,0,17,0,0,5,1,2
23,17,0,0,0,1,0,124,0,60,9,1,2
24,18,1,1,0,0,0,200,140,125,9,1,2
25,19,1,0,0,0,0,0,153,80,9,0,0
27,20,1,1,0,0,0,221,127,124,9,1,2
29,21,1,0,0,0,0,72,82,60,5,1,2
30,22,0,0,0,1,0,43,0,20,9,1,1
31,23,1,1,2,0,0,213,14,106,9,1,2
32,24,1,0,0,0,0,93,48,84,9,1,1
33,25,1,1,0,0,0,62,98,87,9,1,2
34,26,1,1,0,0,0,57,38,39,9,1,2
35,27,1,0,0,0,0,87,0,96,9,0,1
37,28,1,1,0,0,1,26,103,31,9,1,2
38,29,1,0,0,0,1,210,0,51,9,1,2
39,30,1,0,0,0,0,116,62,70,9,1,2
40,31,1,1,0,0,0,203,13,38,9,1,2
41,32,0,0,0,0,0,117,0,46,9,1,2
42,33,1,1,0,1,0,10,68,31,9,1,1
43,34,1,0,0,0,0,216,92,109,9,1,1
44,35,0,0,0,0,0,118,0,27,9,1,2
47,36,1,0,0,1,0,32,58,44,9,1,1
49,37,1,1,3,1,1,230,2,103,9,1,1
50,38,1,1,1,0,0,39,49,59,9,1,2
52,39,1,1,1,0,0,105,111,89,9,1,1
53,40,1,1,2,0,0,146,18,1,5,1,2
54,41,1,1,0,1,1,195,0,32,9,1,2
55,42,1,0,0,0,0,59,0,63,9,0,2
56,43,0,0,0,1,0,160,0,63,9,1,0
57,44,1,1,2,0,0,113,122,67,5,1,1
58,45,0,1,2,0,0,61,125,96,9,0,1
59,46,1,1,3,0,0,177,0,31,5,1,1
60,47,1,1,0,1,0,38,50,46,9,1,1
61,48,1,1,0,0,1,220,3,60,9,1,2
62,49,0,0,2,0,0,185,0,105,9,1,1

In [ ]:
Xtrain = loan_train2.iloc[ : , 0:12]

In [ ]:
Xtrain

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,0,0,0,376,0,203,8,1,2
1,1,1,1,1,0,0,306,60,81,8,1,0
2,2,1,1,0,0,1,139,0,26,8,1,2
3,3,1,1,0,1,0,90,160,73,8,1,2
4,4,1,0,0,0,0,381,0,94,8,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,125,0,29,8,1,0
610,610,1,1,3,0,0,275,0,7,5,1,0
611,611,1,1,1,0,0,431,3,162,8,1,2
612,612,1,1,2,0,0,422,0,132,8,1,2
613,613,0,0,0,0,1,306,0,86,8,0,1

In [ ]:
Ytrain = loan_train2.iloc[: , 0:12]

In [ ]:
Ytrain

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,0,0,0,376,0,203,8,1,2
1,1,1,1,1,0,0,306,60,81,8,1,0
2,2,1,1,0,0,1,139,0,26,8,1,2
3,3,1,1,0,1,0,90,160,73,8,1,2
4,4,1,0,0,0,0,381,0,94,8,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,125,0,29,8,1,0
610,610,1,1,3,0,0,275,0,7,5,1,0
611,611,1,1,1,0,0,431,3,162,8,1,2
612,612,1,1,2,0,0,422,0,132,8,1,2
613,613,0,0,0,0,1,306,0,86,8,0,1

In [ ]:
Xtest = loan_test1.iloc[: ,0: 12]

In [ ]:
Xtest

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,1,0,0,0,206,0,46,9,1,2
1,1,1,1,1,0,0,82,36,61,9,1,2
2,2,1,1,2,0,0,187,56,110,9,1,2
4,3,1,0,0,1,0,95,0,22,9,1,2
5,4,1,1,0,1,1,21,118,84,9,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
361,284,1,1,1,0,0,28,74,37,9,1,1
362,285,1,1,3,1,1,142,54,48,9,1,2
363,286,1,1,0,0,0,150,10,50,9,1,2
365,287,1,1,0,0,0,187,83,87,9,1,0
366,288,1,0,0,0,1,238,0,36,5,1,0

In [ ]:
Ytest = loan_test1.iloc[ : ,0: 12]

In [ ]:
Ytest

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,1,0,0,0,206,0,46,9,1,2
1,1,1,1,1,0,0,82,36,61,9,1,2
2,2,1,1,2,0,0,187,56,110,9,1,2
4,3,1,0,0,1,0,95,0,22,9,1,2
5,4,1,1,0,1,1,21,118,84,9,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
361,284,1,1,1,0,0,28,74,37,9,1,1
362,285,1,1,3,1,1,142,54,48,9,1,2
363,286,1,1,0,0,0,150,10,50,9,1,2
365,287,1,1,0,0,0,187,83,87,9,1,0
366,288,1,0,0,0,1,238,0,36,5,1,0

In [ ]:
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [ ]:
loan_MB = MB()

In [ ]:
Xtrain.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64